body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

#form-div{
margin-left: 460px;
width:500px;
}

h2{
margin-left: 490px;
margin-bottom: 30px;
}

#dbtablecell{
padding-right: 50px;
}
